---

---

<h2>About the blog:</h2>
<div class="container">
    <div>
        <p>
            I am super happy that you have found my little side of the internet.
            On here you will find a few very diffrent (but often still
            intertwined) topics. My main interests are in coding/developing and
            politics/political science. I developed my own blog from scratch
            (well cause I like doing that) to have a place where I can explore
            the intersection between them and individually.
        </p>
    </div>
</div>
<h2>About the Me:</h2>
<div class="container">
    <div>
        <p>
            My name is Mark and I currently live in Frankfurt Germany. I work as
            a backend developer and love coding, cooking, coffee and politics.
        </p>
        <p>
            I hold a Bachelors degree in Political Sciences and a minor in
            American Studies. During my studies I discovered that I like to work
            with and analyze data for analysis. This then led me to becoming a
            developer. My "primary" programming language is Python (web,data and
            everything essentially) but I also write the typical amount of JS
            etc. and Golang. Go has particularly peaked my interest as of late
            as well as AstroJS with which this blog was developed.
        </p>
    </div>
</div>
<style>
    .container {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
    }
</style>
