<div class="pad">
    <div class="border"></div>
</div>
<style>
    .border {
        width: 100%;
        border: 1px solid black;
    }
    .pad {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
</style>
