---
import { Tags } from "../src/js/constants.js";
---

<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("filter", () => ({
            async init() {
                this.results = Tags;
                this.filteredResults = this.results;
                this.$watch("titleFilter", () => this.updateFilter());
                this.$watch("tagFilter", () => this.updateFilter());
            },
            titleFilter: "",
            tagFilter: [],
            results: [],
            filteredResults: [],
            updateFilter() {
                this.filteredResults = this.results.filter((item) => {
                    const tags = item.frontmatter.tags.split(",").map((e) => {
                        return e.trim();
                    });
                    function checkTags(tags) {
                        const found = tags.map((i) => {
                            return !this.tagFilter.includes(i);
                        });
                        return found.some(Boolean);
                    }
                    if (
                        this.titleFilter !== "" &&
                        item.frontmatter.title
                            .toLowerCase()
                            .indexOf(this.titleFilter.toLowerCase()) === -1
                    )
                        return false;
                    if (this.tagFilter.length > 0 && checkTags(tags))
                        return false;
                    return true;
                });
            },
        }));
    });
</script>
<div class="filterContainer" x-data="{filter}">
    <span>Filter by title or tag</span>
    <div class="filterFieldsContainer">
        <input
            type="search"
            placeholder="Filter by title"
            x-model="titleFilter"
        />
        <input type="search" placeholder="Filter by tag" x-model="tagFilter" />
    </div>
</div>
<style>
    .filterFieldsContainer {
        display: flex;
        gap: 1rem;
    }
    .filterContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
</style>
