---
import DarkModeToggle from "./DarkModeToggle.astro";
---

<div class="top">
    <nav class="header">
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/essays">Essays</a>
        <a href="/about">About</a>
        <a href="/contact">Contact </a>
    </nav>
    <div class="darkMode">
        <DarkModeToggle />
    </div>
</div>
<style>
    .top {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header {
        display: flex;
        gap: 2rem;
    }
    .darkMode {
        padding-left: 2rem;
    }
    @media (max-width: 700px) {
        .darkMode {
            padding-left: 1rem;

    }
</style>
