---

---

<div class="top">
    <nav class="header">
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/essays">Essays</a>
        <a href="/about">About</a>
        <a href="/contact">Contact </a>
    </nav>
    <div></div>
</div>
<style>
    .top {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .header {
        display: flex;
        gap: 2rem;
    }
</style>
