---
import Post from "../components/Post.astro";

let items = Object.values(
    import.meta.glob("../pages/essays/*.md", { eager: true }),
);
let postsItems = items.slice(0, 3);
---

<h2>Most recent essays:</h2>
<div class="postsContainer">
    <div>
        {
            postsItems.length !== 0 ? (
                postsItems.map((post) => <Post curPost={post} />)
            ) : (
                <p>No recent essays found </p>
            )
        }
    </div>
</div>
<style>
    .postsContainer {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }
</style>
