---
import DarkModeToggle from "../components/DarkModeToggle.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta
            name="description"
            content="Marks blog, Pixel and Policy, in which he writes about coding/tech and politics. Mostly seperate from another but also with many pieces connecting the two topics"
        />
        <title>Pixel & Policy</title>
    </head>
    <body>
        <div class="container">
            <slot />
        </div>
    </body>
    <style is:global>
        html {
            background-color: #f5f5f5;
        }
        html.dark {
            background-color: #212121;
        }
        html.dark p {
            color: #f5f5f5;
        }
        html.dark span {
            color: #f5f5f5;
        }
        html.dark h1 {
            color: #f5f5f5;
        }
        html.dark h2 {
            color: #f5f5f5;
        }
        html.dark h3 {
            color: #f5f5f5;
        }

        a {
            text-decoration: none;
        }
        a:link {
            color: #2563eb;
        }
        a:visited {
            color: #2563eb;
        }
        a:hover {
            color: #0ea5e9;
        }
        html.dark a:link {
            color: #33cc66;
        }
        html.dark a:visited {
            color: #33cc66;
        }
        html.dark a:hover {
            color: lawngreen;
        }
        .title {
            text-decoration: underline;
            font-size: 1.5em;
        }
        .title:link {
            color: #303030;
        }
        .title:visited {
            color: #303030;
        }
        html.dark .title {
            color: #f5f5f5;
        }
        html.dark .title:link {
            color: #f5f5f5;
        }
        html.dark .title:visited {
            color: #f5f5f5;
        }
        .title.hoverClass {
            color: #0ea5e9;
        }
        html.dark .title.hoverClass {
            color: lawngreen;
        }

        .titleFilter:focus {
            outline-offset: -1px;
            outline: 1px solid #0ea5e9;
        }
        html.dark .titleFilter:focus {
            outline: 1px solid lawngreen;
        }
        .tagFilter:focus {
            outline-offset: -1px;
            outline: 1px solid #0ea5e9;
        }
        html.dark .tagFilter:focus {
            outline-offset: -1px;
            outline: 1px solid lawngreen;
        }
    </style>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            width: 75%;
        }
        @media (max-width: 700px) {
            .container {
                width: 100%;
            }
        }
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</html>
